body {
  background-image: url("/public/background.jpg"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

form {
  border-radius: 10px;
  width: 50%;
  margin: 5px auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
